@page
@model NowSoftwareTask.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<h2>Account/Login</h2>
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="credential.UserName"></label>
            </div>
            <div class="col-md-5">
                <input type="text" asp-for="credential.UserName" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="credential.UserName"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <label asp-for="credential.Password"></label>
            </div>
            <div class="col-md-5">
                <input type="password" asp-for="credential.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="credential.Password"></span>
        </div>

        <div class="form-group row">
            <div class="col-md-2">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-md-5">
                
            </div>
        </div>

    </form>
</div>


